@use '../../../styles';

.footer-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;

  .powered-by {
    margin: -5px 5px;
    align-self: center;
    font-family: styles.$font-stack;
  }

  .fa-logo {
    height: 24px;
    font-family: styles.$font-stack;
    color: #424242;
    font-size: 16px;
    margin: 10px;
  }
}
